<h1>Award list</h1>

<table class="records_list">
    <thead>
        <tr>
            <th>Id</th>
            <th>Earneddate</th>
            <th>Type</th>
            <th>Category</th>
            <th>Amount</th>
            <th>Description</th>
            <th>Note</th>
            <th>Awardeddate</th>
            <th>Membernumber</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td><a href="{{ path('award_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
            <td>{% if entity.earnedDate %}{{ entity.earnedDate|date('Y-m-d H:i:s') }}{% endif %}</td>
            <td>{{ entity.type }}</td>
            <td>{{ entity.category }}</td>
            <td>{{ entity.amount }}</td>
            <td>{{ entity.description }}</td>
            <td>{{ entity.note }}</td>
            <td>{% if entity.awardedDate %}{{ entity.awardedDate|date('Y-m-d H:i:s') }}{% endif %}</td>
            <td>{{ entity.memberNumber }}</td>
            <td>
                <ul>
                    <li>
                        <a href="{{ path('award_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('award_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<ul>
    <li>
        <a href="{{ path('award_new') }}">
            Create a new entry
        </a>
    </li>
</ul>
