<h1>Award</h1>

<table class="record_properties">
    <tbody>
        <tr>
            <th>Id</th>
            <td>{{ entity.id }}</td>
        </tr>
        <tr>
            <th>Earneddate</th>
            <td>{{ entity.earnedDate|date('Y-m-d H:i:s') }}</td>
        </tr>
        <tr>
            <th>Type</th>
            <td>{{ entity.type }}</td>
        </tr>
        <tr>
            <th>Category</th>
            <td>{{ entity.category }}</td>
        </tr>
        <tr>
            <th>Amount</th>
            <td>{{ entity.amount }}</td>
        </tr>
        <tr>
            <th>Description</th>
            <td>{{ entity.description }}</td>
        </tr>
        <tr>
            <th>Note</th>
            <td>{{ entity.note }}</td>
        </tr>
        <tr>
            <th>Awardeddate</th>
            <td>{{ entity.awardedDate|date('Y-m-d H:i:s') }}</td>
        </tr>
        <tr>
            <th>Membernumber</th>
            <td>{{ entity.memberNumber }}</td>
        </tr>
    </tbody>
</table>

<ul class="record_actions">
    <li>
        <a href="{{ path('award') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('award_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>
        <form action="{{ path('award_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
        </form>
    </li>
</ul>
